{
  "swagger": "2.0",
  "info": {
    "version": "2016-08-04T18:30:18Z",
    "title": "Catalytic Internal API Documentation",
    "description": "# Improving Our Docs\nIf you see a section of these docs that needs improvement, please [submit a request here](https://catalytic.pushbot.com/start/8bf3db91-a8b2-4e34-aade-38c08a49170e).\nOr better yet, make a change yourself in [the main swagger file](https://github.com/catalyticlabs/pushbot-api/blob/master/api-swagger/api-swagger.yaml) or\none of the [schema files](https://github.com/catalyticlabs/pushbot-api/tree/master/api-swagger/schema) and submit a pull request.\n# Introduction\n## What is Catalytic?\nCatalytic is a process automation and orchestration application. Catalytic can solve recurring business problems by bringing together a group of people and multiple isolated applications. Processes can be started manually, scheduled or triggered by an event.\n## What can you do with the Catalytic API?\nThe Catalytic API allows you to define and manage your processes throughout their lifecycle.\n\nWith the Catalytic API, you can:\n- Define your processes\n- Start and monitor a process\n- Complete or reassign tasks\n- Query and update data tables\n- Create machine learning models\n- Manage the users and groups in your team\n- Configure integrations with other applications\n## Who is this document for?\nThe Catalytic API is aimed at developers and engineers who are familiar with using RESTful APIs to develop custom integrations.\n\nIf you want to integrate with Catalytic but this is a little too technical, visit our [integrations page](https://catalytic.com/solutions/) to see if an integration you need already exists. If you can’t find the integration you’re looking for, contact our [integration experts](mailto:help@catalytic.com) and we’ll be happy to help you out.\n## Where to next?\n- [Getting Started](/#section/Introduction/Getting-Started) - Start by creating a team and process template. Then run your process and complete a task.\n- [Authentication](/#section/Authentication) - Retrieve the authentication credentials required for each HTTP request to Catalytic\n- API reference - Use the sidebar to search or jump straight to a specific request definition\n## Conventions\nThroughout the Pushbot API, within the body of a `PUT` or `POST`, optional fields can always\nbe omitted, rather than explicitly set to `\"\"` or `null`. Similarly empty arrays can be ommitted\nexcept where noted.\n\nThe API is versioned at the root of the path. Only breaking changes will\ncause a new major version to be released. The current version is `v1` and\nis available at [https://{teamname}.pushbot.com/v1](https://{teamname}.pushbot.com/v1d)\n## Getting Started\n'This will walk you through:'\n1. Creating a new team\n2. Inviting a user\n3. Creating a process with a few steps\n4. Starting a run of that process\n5. Completing the tasks in that process\n6. Viewing the completed run\n# Authentication\nMost API calls are authenticated using your User Key. You can retrieve your User Key with your username and password by issuing a `POST` to `/teams/{teamname}/auth` with a json body containing your `username` and `password`. You may optionally use your email address as your username. For example:\n\n```\nPOST /v1/teams/my-team/auth\n\n{\n  \"username\": \"alice\",\n  \"password\": \"super-secret\"\n}\n```\n\nOr\n\n```\nPOST /v1/teams/my-team/auth\n\n{\n  \"username\": \"alice@example.com\",\n  \"password\": \"super-secret\"\n}\n```\nThe JSON response will include your `userKey` which you should include in all subsequent calls as an `x-user-key` header.\n\nIf you have to work with OpenID or ActiveDirectory please contact us at ….\n",
    "contact": {
      "url": "https://catalytic.com"
    }
  },
  "host": "api.pushbot.io",
  "basePath": "/staging",
  "tags": [
    {
      "name": "Actions",
      "description": "The Action Registration API is used to register new actions in a team or to view,\nupdate or delete those actions.\n"
    },
    {
      "name": "Action Workers",
      "description": "The Action Worker Registration API is used to register new workers that are ready\nto execute a specific set of actions within a team. It can also be used to view\nor delete those workers.\n"
    },
    {
      "name": "Action Worker Control",
      "description": "The Worker Control API allows global administrators (`admin` Team members) to\ntemporary block action execution for targeted workers, actions, tags, etc.\n"
    },
    {
      "name": "Action Worker Execution",
      "description": "The Worker Execution API allows registered Action Worker instances to acquire waiting\ntasks to execute and to complete those tasks.\n"
    },
    {
      "name": "AccessRequests"
    },
    {
      "name": "AccessRequest"
    },
    {
      "name": "Admin"
    },
    {
      "name": "Apps"
    },
    {
      "name": "Appdata"
    },
    {
      "name": "Authentication"
    },
    {
      "name": "AWS"
    },
    {
      "name": "Commands"
    },
    {
      "name": "User Tokens",
      "description": "The User Token API allows users to manage User Tokens, which are used for authentication by the SDK.\nSupported functionality includes creation, approval, activation, revocation, verification and listing.\n"
    },
    {
      "name": "Emails"
    },
    {
      "name": "Env"
    },
    {
      "name": "Favorites"
    },
    {
      "name": "Features"
    },
    {
      "name": "Fields"
    },
    {
      "name": "Files"
    },
    {
      "name": "Groups"
    },
    {
      "name": "Integrations"
    },
    {
      "name": "Messages"
    },
    {
      "name": "ML"
    },
    {
      "name": "Invites"
    },
    {
      "name": "Notifications"
    },
    {
      "name": "Outlook"
    },
    {
      "name": "Predictor"
    },
    {
      "name": "Predictors"
    },
    {
      "name": "Processes"
    },
    {
      "name": "ProcessExports"
    },
    {
      "name": "ProcessImports"
    },
    {
      "name": "Reports"
    },
    {
      "name": "Runs"
    },
    {
      "name": "SAML"
    },
    {
      "name": "Search",
      "description": "Search across entities within a team"
    },
    {
      "name": "SMS"
    },
    {
      "name": "Steps"
    },
    {
      "name": "Tables"
    },
    {
      "name": "Tasks"
    },
    {
      "name": "Teams"
    },
    {
      "name": "Test"
    },
    {
      "name": "Triggers"
    },
    {
      "name": "Upcoming"
    },
    {
      "name": "Users",
      "description": "Place context around Users and Invites here with links to related sections\n## Invites\nBefore creating a user, invite them to your Catalytic team.\n## Users\nAfter an invitee has accepted their invite, their invite record is converted into a user.\n"
    },
    {
      "name": "Webhooks"
    }
  ],
  "x-tagGroups": [
    {
      "name": "Processes",
      "tags": [
        "Processes",
        "Runs",
        "Tasks",
        "Steps",
        "Fields",
        "Files"
      ]
    },
    {
      "name": "Users",
      "tags": [
        "Users",
        "Invites",
        "Teams",
        "Authentication",
        "Groups",
        "Phones"
      ]
    },
    {
      "name": "Private",
      "tags": [
        "Favorites",
        "Messages",
        "ML",
        "Reports",
        "Test",
        "SAML",
        "Search",
        "Tables",
        "Webhooks",
        "Apps",
        "Commands",
        "Emails",
        "Env",
        "Notifications",
        "Outlook",
        "ProcessExports",
        "ProcessImports",
        "SMS",
        "Triggers",
        "Upcoming",
        "Appdata",
        "AWS",
        "Apps"
      ]
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/apps": {
      "get": {
        "summary": "List apps",
        "description": "Retrieve a list of apps",
        "tags": [
          "Apps"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "action",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Apps"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            },
            "examples": {}
          }
        },
        "security": [
          {
            "user_key": []
          }
        ],
        "x-pushbot-function": "listSharedApps",
        "x-amazon-apigateway-integration": {
          "requestTemplates": {
            "application/json": "{\n    \"function\" : \"listSharedApps\",\n    \"stage\" : \"$stageVariables.env\",\n    \"apiKey\": \"$context.identity.apiKey\",\n    \"teamName\": \"admin\",\n    \"action\": \"$input.params('action')\"\n}"
          },
          "type": "aws"
        },
        "operationId": "list-apps"
      }
    },
    "/apps/{appname}": {
      "get": {
        "tags": [
          "Apps"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "appname",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Apps"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "user_key": []
          }
        ],
        "x-pushbot-function": "listSharedApps",
        "x-amazon-apigateway-integration": {
          "requestTemplates": {
            "application/json": "{\n    \"function\" : \"listSharedApps\",\n    \"stage\" : \"$stageVariables.env\",\n    \"apiKey\": \"$context.identity.apiKey\",\n    \"teamName\": \"admin\",\n    \"appName\": \"$input.params('appname')\"\n}"
          },
          "type": "aws"
        },
        "operationId": "get-app",
        "summary": "Get app",
        "description": "Get an app by name"
      },
      "parameters": [
        {
          "type": "string",
          "name": "appname",
          "in": "path",
          "required": true
        }
      ]
    },
    "/apps/{appname}/{action}": {
      "get": {
        "tags": [
          "Apps"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Apps"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "user_key": []
          }
        ],
        "x-pushbot-function": "listSharedApps",
        "x-amazon-apigateway-integration": {
          "requestTemplates": {
            "application/json": "{\n    \"function\" : \"listSharedApps\",\n    \"stage\" : \"$stageVariables.env\",\n    \"apiKey\": \"$context.identity.apiKey\",\n    \"teamName\": \"admin\",\n    \"appName\": \"$input.params('appname')\",\n    \"action\": \"$input.params('action')\"\n}"
          },
          "type": "aws"
        },
        "operationId": "get-app-action",
        "summary": "Get app action",
        "description": "Get app action",
        "parameters": [
          {
            "name": "action",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appname",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/apps/{appname}/{action}/{appversion}": {
      "get": {
        "tags": [
          "Apps"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "appversion",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "action",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appname",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Apps"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "user_key": []
          }
        ],
        "x-pushbot-function": "getSharedApp",
        "x-amazon-apigateway-integration": {
          "requestTemplates": {
            "application/json": "{\n    \"function\" : \"getSharedApp\",\n    \"stage\" : \"$stageVariables.env\",\n    \"apiKey\": \"$context.identity.apiKey\",\n    \"teamName\": \"admin\",\n    \"appName\": \"$input.params('appname')\",\n    \"action\": \"$input.params('action')\",\n    \"version\": \"$input.params('appversion')\"\n}"
          },
          "type": "aws"
        },
        "operationId": "get-app-action-version",
        "summary": "Get app action version",
        "description": "Get app action version"
      },
      "post": {
        "tags": [
          "Apps"
        ],
        "consumes": [
          "application/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "appversion",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appname",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "action",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Apps"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          }
        },
        "x-pushbot-function": "execApp",
        "x-amazon-apigateway-integration": {
          "type": "aws_proxy"
        },
        "summary": "Create app action version",
        "operationId": "create-app-action-version",
        "description": "Create app action version"
      }
    },
    "/hellosign/callback": {
      "post": {
        "consumes": [
          "text/xml",
          "application/json",
          "application/x-www-form-urlencoded",
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Empty"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          }
        },
        "x-pushbot-function": "helloSign",
        "x-amazon-apigateway-integration": {
          "type": "aws_proxy"
        },
        "operationId": "hellosign-callback",
        "summary": "Hellosign callback",
        "description": "hellosign callback",
        "tags": []
      }
    },
    "/slack/commands": {
      "post": {
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "201 response",
            "schema": {
              "$ref": "#/definitions/Empty"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          }
        },
        "x-pushbot-function": "slackCommandsApp",
        "x-amazon-apigateway-integration": {
          "type": "aws_proxy"
        },
        "operationId": "slack-commands",
        "summary": "Slack commands",
        "description": "Slack commands",
        "tags": []
      }
    },
    "/slack/interactive": {
      "post": {
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "201 response",
            "schema": {
              "$ref": "#/definitions/Empty"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          }
        },
        "x-pushbot-function": "slackInteractive",
        "x-amazon-apigateway-integration": {
          "type": "aws_proxy"
        },
        "operationId": "slack-interactive",
        "summary": "Slack interactive",
        "description": "Slack interactive",
        "tags": []
      }
    },
    "/await/{transactionid}": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "transactionid",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Empty"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "user_key": []
          }
        ],
        "x-pushbot-function": "awaitResult",
        "x-amazon-apigateway-integration": {
          "type": "aws_proxy"
        },
        "operationId": "await-transaction",
        "summary": "Await a transaction",
        "description": "Await a transaction to complete.\n\nCertain operations that use a queue mechanism produce a transaction in the response. To know when that transaction has completed you can use this endpoint which will return once the transaction has completed.",
        "tags": []
      }
    },
    "/env": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Env"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            },
            "examples": {
              "Local example": {
                "stage": "test",
                "apiVersion": "1.5.3034"
              }
            }
          }
        },
        "x-pushbot-function": "getEnv",
        "x-amazon-apigateway-integration": {
          "type": "aws_proxy"
        },
        "operationId": "get-env",
        "summary": "Get environment",
        "description": "Get info about the current environment",
        "tags": []
      }
    },
    "/community-sso": {
      "post": {
        "summary": "Community SSO",
        "operationId": "community-sso",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Community-SSO"
            }
          }
        },
        "parameters": [
          {
            "type": "string",
            "in": "query",
            "name": "client_id",
            "required": true
          },
          {
            "type": "string",
            "in": "query",
            "name": "timestamp",
            "required": true
          },
          {
            "type": "string",
            "in": "query",
            "required": true,
            "name": "signature"
          }
        ],
        "description": "Community SSO",
        "tags": []
      }
    },
    "/sms/inbound": {
      "post": {
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SMS"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          }
        },
        "x-pushbot-function": "createInboundSms",
        "x-amazon-apigateway-integration": {
          "type": "aws_proxy"
        },
        "operationId": "sms-inbound",
        "summary": "Create inbound sms",
        "description": "Create inbound sms",
        "tags": []
      }
    },
    "/aws/on-ses": {
      "post": {
        "summary": "Receive SES email",
        "tags": [
          "AWS"
        ],
        "consumes": [
          "application/json",
          "text/plain"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Empty"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          }
        },
        "x-pushbot-function": "receiveSesEmail",
        "x-amazon-apigateway-integration": {
          "type": "aws_proxy"
        },
        "operationId": "on-ses",
        "description": "Receive SES email"
      }
    },
    "/aws/on-ses-sns": {
      "post": {
        "summary": "SES SNS notification handler",
        "tags": [
          "AWS"
        ],
        "consumes": [
          "application/json",
          "text/plain"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Empty"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          }
        },
        "x-pushbot-function": "onSesSnsNotification",
        "x-amazon-apigateway-integration": {
          "type": "aws_proxy"
        },
        "operationId": "on-ses-sns",
        "description": "SES SNS notification handler"
      }
    },
    "/aws/sns/on-help-updated": {
      "post": {
        "x-visible": false,
        "summary": "SNS Notification of new help doc data to re-index",
        "tags": [
          "AWS"
        ],
        "consumes": [
          "application/json",
          "text/plain"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Empty"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          }
        },
        "operationId": "sns-on-helpu-updated",
        "description": "SNS Notification of new help doc data to re-index"
      }
    },
    "/aws/ses/bounce": {
      "post": {
        "summary": "SES bounce notification handler",
        "tags": [
          "AWS"
        ],
        "consumes": [
          "application/json",
          "text/plain"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Empty"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          }
        },
        "x-pushbot-function": "onSesBounce",
        "x-amazon-apigateway-integration": {
          "type": "aws_proxy"
        },
        "operationId": "ses-bounce",
        "description": "SES bounce notification handler"
      }
    },
    "/aws/ses/open": {
      "post": {
        "summary": "SES open notification handler",
        "tags": [
          "AWS"
        ],
        "consumes": [
          "application/json",
          "text/plain"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Empty"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          }
        },
        "x-pushbot-function": "onSesOpen",
        "x-amazon-apigateway-integration": {
          "type": "aws_proxy"
        },
        "operationId": "ses-open",
        "description": "SES open notification handler"
      }
    },
    "/features": {
      "get": {
        "tags": [
          "Features"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Features"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          }
        },
        "summary": "Get features",
        "operationId": "get-features",
        "description": "Get all the features available and their status",
        "security": [
          {
            "user_key": []
          }
        ]
      }
    },
    "/help/reindex": {
      "post": {
        "summary": "Re-index help content for search",
        "tags": [
          "Admin"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "x-user-key",
            "in": "header",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Fields"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "user_key": []
          }
        ],
        "operationId": "reindex-help",
        "description": "Re-index help content for search"
      }
    },
    "/processes": {
      "post": {
        "summary": "Create a process in another team (admin only)",
        "tags": [
          "Admin"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "x-user-key",
            "in": "header",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "process",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Processes"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Processes"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "user_key": []
          }
        ],
        "x-pushbot-function": "adminCreateProcess",
        "x-amazon-apigateway-integration": {
          "type": "aws_proxy"
        },
        "operationId": "create-process-in-another-team",
        "description": "Create a process in another team (admin only)"
      }
    },
    "/processes/{processid}": {
      "get": {
        "summary": "Get process",
        "tags": [
          "Processes"
        ],
        "x-visible": true,
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "processid",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "export",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Processes"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "user_key": []
          }
        ],
        "x-pushbot-function": "getSharedProcess",
        "x-amazon-apigateway-integration": {
          "type": "aws_proxy"
        },
        "description": "Get a publicly shared process",
        "operationId": "get-process"
      }
    },
    "/teams": {
      "post": {
        "summary": "Create team",
        "tags": [
          "Teams"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "team",
            "in": "body",
            "description": "Team to create",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Teams"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Teams"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "user_key": []
          }
        ],
        "x-pushbot-function": "createTeam",
        "x-amazon-apigateway-integration": {
          "requestTemplates": {
            "application/json": "{\n    \"function\": \"createTeam\",\n    \"stage\" : \"$stageVariables.env\",\n    \"apiKey\": \"$context.identity.apiKey\",\n    \"body\" : $input.json('$')\n}"
          },
          "type": "aws"
        },
        "operationId": "create-team",
        "description": "Create a new team"
      }
    },
    "/teams/{teamname}": {
      "get": {
        "summary": "Get team",
        "tags": [
          "Teams"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "x-user-key",
            "in": "header",
            "required": true,
            "type": "string"
          },
          {
            "name": "teamname",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Teams"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "user_key": []
          }
        ],
        "x-pushbot-function": "getTeam",
        "x-amazon-apigateway-integration": {
          "requestTemplates": {
            "application/json": "{\n    \"function\": \"getTeam\",\n    \"stage\" : \"$stageVariables.env\",\n    \"apiKey\": \"$context.identity.apiKey\",\n    \"userKey\": \"$input.params('x-user-key')\",\n    \"teamName\": \"$input.params('teamname')\"\n}"
          },
          "type": "aws"
        },
        "operationId": "get-team-by-name",
        "description": "Get a specific team"
      },
      "put": {
        "summary": "Update team",
        "tags": [
          "Teams"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "x-user-key",
            "in": "header",
            "required": true,
            "type": "string"
          },
          {
            "name": "teamname",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Teams"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "user_key": []
          }
        ],
        "x-pushbot-function": "updateTeam",
        "x-amazon-apigateway-integration": {
          "requestTemplates": {
            "application/json": "{\n    \"function\": \"updateTeam\",\n    \"stage\" : \"$stageVariables.env\",\n    \"apiKey\": \"$context.identity.apiKey\",\n    \"userKey\": \"$input.params('x-user-key')\",\n    \"teamName\": \"$input.params('teamname')\",\n    \"body\" : $input.json('$')\n}"
          },
          "type": "aws"
        },
        "operationId": "update-team",
        "description": "Update a specific team"
      },
      "delete": {
        "summary": "Delete team",
        "tags": [
          "Teams"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "x-user-key",
            "in": "header",
            "required": true,
            "type": "string"
          },
          {
            "name": "teamname",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Teams"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "user_key": []
          }
        ],
        "x-pushbot-function": "deleteTeam",
        "x-amazon-apigateway-integration": {
          "requestTemplates": {
            "application/json": "{\n    \"function\": \"deleteTeam\",\n    \"stage\" : \"$stageVariables.env\",\n    \"apiKey\": \"$context.identity.apiKey\",\n    \"userKey\": \"$input.params('x-user-key')\",\n    \"teamName\": \"$input.params('teamname')\"\n}"
          },
          "type": "aws"
        },
        "operationId": "delete-team",
        "description": "Delete a specific team"
      }
    },
    "/teams/{teamname}/access-requests": {
      "post": {
        "summary": "Create access request",
        "tags": [
          "AccessRequest"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "x-user-key",
            "in": "header",
            "required": false,
            "type": "string"
          },
          {
            "name": "teamname",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AccessRequest"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          }
        },
        "operationId": "create-access-request",
        "description": "Create access request"
      }
    },
    "/teams/{teamname}/access-requests/{accessrequestid}": {
      "put": {
        "summary": "Approve access request",
        "tags": [
          "AccessRequest"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "x-user-key",
            "in": "header",
            "required": true,
            "type": "string"
          },
          {
            "name": "teamname",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "accessrequestid",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AccessRequest"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          }
        },
        "operationId": "approve-access-request",
        "description": "Approve a specific access request"
      }
    },
    "/teams/{teamname}/apps": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "teamname",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-user-key",
            "in": "header",
            "required": true,
            "type": "string"
          },
          {
            "name": "action",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "includeSharedApps",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "integrationDefinition",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "customIntegrationWildcard",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Apps"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          }
        },
        "x-pushbot-function": "listApps",
        "x-amazon-apigateway-integration": {
          "requestTemplates": {
            "application/json": "{\n    \"function\" : \"listApps\",\n    \"stage\" : \"$stageVariables.env\",\n    \"apiKey\": \"$context.identity.apiKey\",\n    \"userKey\": \"$input.params('x-user-key')\",\n    \"teamName\": \"$input.params('teamname')\",\n    \"action\": \"$input.params('action')\",\n    \"customIntegrationWildcard\": \"$input.params('customIntegrationWildcard')\"\n    #if($input.params('includeSharedApps') == \"true\"), \"includeSharedApps\": true #end\n    #if($input.params('integrationDefinition') == \"true\"), \"integrationDefinition\": true #end    #if($input.params('includeDrafts') == \"true\"), \"includeDrafts\": true #end\n}"
          },
          "type": "aws"
        },
        "operationId": "get-apps-by-team",
        "summary": "Get team apps",
        "description": "Get apps for a specific team",
        "tags": []
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "x-user-key",
            "in": "header",
            "required": true,
            "type": "string"
          },
          {
            "name": "teamname",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Apps"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          }
        },
        "x-pushbot-function": "createApp",
        "x-amazon-apigateway-integration": {
          "type": "aws_proxy"
        },
        "operationId": "create-app",
        "summary": "Create team app",
        "description": "Create app for a specific team",
        "tags": []
      }
    },
    "/teams/{teamname}/apps/{appname}": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "appname",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "teamname",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-user-key",
            "in": "header",
            "required": true,
            "type": "string"
          },
          {
            "name": "includeSharedApps",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Apps"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          }
        },
        "x-pushbot-function": "listApps",
        "x-amazon-apigateway-integration": {
          "requestTemplates": {
            "application/json": "{\n    \"function\" : \"listApps\",\n    \"stage\" : \"$stageVariables.env\",\n    \"apiKey\": \"$context.identity.apiKey\",\n    \"userKey\": \"$input.params('x-user-key')\",\n    \"teamName\": \"$input.params('teamname')\",\n    \"appName\": \"$input.params('appname')\"\n    #if($input.params('includeSharedApps') == \"true\"), \"includeSharedApps\": true #end\n    #if($input.params('includeDrafts') == \"true\"), \"includeDrafts\": true #end\n}"
          },
          "type": "aws"
        },
        "operationId": "get-team-app",
        "summary": "Get app",
        "description": "Get a specific app for a specific team",
        "tags": []
      },
      "delete": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "appname",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "teamname",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-user-key",
            "in": "header",
            "required": true,
            "type": "string"
          },
          {
            "name": "importedCollection",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "204": {
            "description": "204 response",
            "schema": {
              "$ref": "#/definitions/ImportAction"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          }
        },
        "operationId": "delete-app-by-name",
        "summary": "Delete app records by app name",
        "description": "Deleting a group of apps that live in the database",
        "tags": []
      }
    },
    "/teams/{teamname}/apps/{appname}/{action}": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "appname",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "teamname",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "action",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-user-key",
            "in": "header",
            "required": true,
            "type": "string"
          },
          {
            "name": "includeSharedApps",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Apps"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          }
        },
        "x-pushbot-function": "listApps",
        "x-amazon-apigateway-integration": {
          "requestTemplates": {
            "application/json": "{\n    \"function\" : \"listApps\",\n    \"stage\" : \"$stageVariables.env\",\n    \"apiKey\": \"$context.identity.apiKey\",\n    \"userKey\": \"$input.params('x-user-key')\",\n    \"teamName\": \"$input.params('teamname')\",\n    \"appName\": \"$input.params('appname')\",\n    \"action\": \"$input.params('action')\"\n    #if($input.params('includeSharedApps') == \"true\"), \"includeSharedApps\": true #end\n    #if($input.params('includeDrafts') == \"true\"), \"includeDrafts\": true #end\n}"
          },
          "type": "aws"
        },
        "operationId": "get-team-app-action",
        "summary": "Get team app action",
        "description": "Get a specific app action for a specific team",
        "tags": []
      }
    },
    "/teams/{teamname}/apps/{appname}/{action}/{appversion}": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "appversion",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appname",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "teamname",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "action",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-user-key",
            "in": "header",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Apps"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          }
        },
        "x-pushbot-function": "getApp",
        "x-amazon-apigateway-integration": {
          "requestTemplates": {
            "application/json": "{\n    \"function\" : \"getApp\",\n    \"stage\" : \"$stageVariables.env\",\n    \"apiKey\": \"$context.identity.apiKey\",\n    \"userKey\": \"$input.params('x-user-key')\",\n    \"teamName\": \"$input.params('teamname')\",\n    \"appTeamName\": \"$input.params('teamname')\",\n    \"appName\": \"$input.params('appname')\",\n    \"action\": \"$input.params('action')\",\n    \"appVersion\": \"$input.params('appversion')\"\n}"
          },
          "type": "aws"
        },
        "operationId": "get-action-version",
        "summary": "Get team app action version",
        "description": "Get a specific app action version for a specific team",
        "tags": []
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "appversion",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appname",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "teamname",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "action",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-user-key",
            "in": "header",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Apps"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "user_key": []
          }
        ],
        "x-pushbot-function": "updateApp",
        "x-amazon-apigateway-integration": {
          "requestTemplates": {
            "application/json": "{\n    \"function\": \"updateApp\",\n    \"stage\" : \"$stageVariables.env\",\n    \"apiKey\": \"$context.identity.apiKey\",\n    \"userKey\": \"$input.params('x-user-key')\",\n    \"teamName\": \"$input.params('teamname')\",\n    \"appName\": \"$input.params('appname')\",\n    \"action\": \"$input.params('action')\",\n    \"appVersion\": \"$input.params('appversion')\",\n    \"body\": $input.json('$')\n}"
          },
          "type": "aws"
        },
        "operationId": "update-app-action-version",
        "summary": "Update app action version",
        "description": "Update an app action version for a specific team",
        "tags": []
      },
      "post": {
        "consumes": [
          "application/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "appversion",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appname",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "teamname",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "action",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Apps"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          }
        },
        "x-pushbot-function": "execApp",
        "x-amazon-apigateway-integration": {
          "type": "aws_proxy"
        },
        "operationId": "create-team-app-action-version",
        "summary": "Create app action version",
        "description": "Create a new app action version for a specific team",
        "tags": []
      }
    },
    "/teams/{teamname}/apps:import": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "x-user-key",
            "in": "header",
            "required": true,
            "type": "string"
          },
          {
            "name": "teamname",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "importedActions",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ImportAction"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ImportAction"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          }
        },
        "operationId": "import-app",
        "summary": "Import app",
        "description": "Import an app for a specific team",
        "tags": []
      }
    },
    "/teams/{teamname}/custom-integration-definition": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "teamname",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "customIntegrationDefinition",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomIntegrationDefinition"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Apps"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          }
        },
        "operationId": "create-custom-integration",
        "summary": "Create custom integration",
        "description": "Create custom integration for a specific team",
        "tags": []
      }
    },
    "/teams/{teamname}/custom-integration-definition/{appname}/{action}/{appversion}": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "teamname",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appname",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "action",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appversion",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Apps"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            },
            "examples": {}
          }
        },
        "operationId": "get-custom-integration",
        "summary": "Get custom integration",
        "description": "Get custom integration for a specific team",
        "tags": []
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "teamname",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appname",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "action",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appversion",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "customIntegrationDefinition",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomIntegrationDefinition"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Apps"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          }
        },
        "operationId": "update-custom-integration",
        "summary": "Update custom integration",
        "description": "Update a custom integration for a specific team",
        "tags": []
      },
      "delete": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "teamname",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appname",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "action",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appversion",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          }
        },
        "operationId": "delete-custom-integration",
        "summary": "Delete custom integration",
        "description": "Delete a custom integration for a specific team",
        "tags": []
      }
    },
    "/teams/{teamname}/actions": {
      "get": {
        "summary": "List all actions in a team",
        "description": "Lists all actions registered in a team. Supports paging and sorting.",
        "operationId": "list-actions",
        "x-visible": true,
        "tags": [
          "Actions"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "teamname",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer"
          },
          {
            "name": "orderBy",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "description": "A page of actions",
              "properties": {
                "nextPageToken": {
                  "type": "string",
                  "description": "the token to use to retrieve the next page of results"
                },
                "actions": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Action"
                  }
                }
              }
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "user_key": []
          }
        ]
      },
      "post": {
        "summary": "Register a new action in a team",
        "description": "Registers a new action in a team",
        "operationId": "create-action",
        "x-visible": true,
        "tags": [
          "Actions"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "teamname",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "action",
            "in": "body",
            "description": "The action to register",
            "schema": {
              "$ref": "#/definitions/Action"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/Action"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "user_key": []
          }
        ]
      }
    },
    "/teams/{teamname}/actions/{actionID}": {
      "get": {
        "summary": "Get an action",
        "description": "Gets an action",
        "operationId": "get-action",
        "x-visible": true,
        "tags": [
          "Actions"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "teamname",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "actionID",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Action"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "user_key": []
          }
        ]
      },
      "patch": {
        "summary": "Update an action",
        "description": "Updates an action",
        "operationId": "update-action",
        "x-visible": true,
        "tags": [
          "Actions"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "teamname",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "actionID",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "update",
            "in": "body",
            "description": "The updated action attributes",
            "schema": {
              "type": "object",
              "description": "Action Update",
              "properties": {
                "action": {
                  "$ref": "#/definitions/Action"
                },
                "mask": {
                  "$ref": "#/definitions/UpdateMask"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated",
            "schema": {
              "$ref": "#/definitions/Action"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "user_key": []
          }
        ]
      },
      "delete": {
        "summary": "Delete an action",
        "description": "Deletes an action",
        "operationId": "delete-action",
        "x-visible": true,
        "tags": [
          "Actions"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "teamname",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "actionID",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted",
            "schema": {
              "$ref": "#/definitions/Empty"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "user_key": []
          }
        ]
      }
    },
    "/teams/{teamname}/action-workers": {
      "get": {
        "summary": "List workers",
        "description": "Lists all action workers registered in a team. Supports paging and sorting.",
        "operationId": "list-team-workers",
        "x-visible": true,
        "tags": [
          "Action Workers"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "teamname",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer"
          },
          {
            "name": "orderBy",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "description": "A page of workers",
              "properties": {
                "nextPageToken": {
                  "type": "string",
                  "description": "the token to use to retrieve the next page of results"
                },
                "workers": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Worker"
                  }
                }
              }
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "user_key": []
          }
        ]
      },
      "post": {
        "summary": "Register worker",
        "description": "Registers a new action worker instance in a team",
        "operationId": "create-worker",
        "x-visible": true,
        "tags": [
          "Action Workers"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "teamname",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "worker",
            "in": "body",
            "description": "The worker to register",
            "schema": {
              "$ref": "#/definitions/Worker"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/Worker"
                },
                {
                  "type": "object",
                  "properties": {
                    "SecretKey": {
                      "type": "string",
                      "description": "The secret that the worker should use as the basic auth password\n(along with `workerID` as username) to authenticate to the\n[#tag/Action-Worker-Execution](Action Worker Execution API)\n"
                    }
                  }
                }
              ]
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "user_key": []
          }
        ]
      }
    },
    "/teams/{teamname}/action-workers/{workerID}": {
      "get": {
        "summary": "Get an worker",
        "description": "Gets an action worker",
        "operationId": "get-worker",
        "x-visible": true,
        "tags": [
          "Action Workers"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "teamname",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "workerID",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Worker"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "user_key": []
          }
        ]
      },
      "patch": {
        "summary": "Update an worker",
        "description": "Updates an action worker",
        "operationId": "update-worker",
        "x-visible": true,
        "tags": [
          "Action Workers"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "teamname",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "workerID",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "update",
            "in": "body",
            "description": "The updated worker attributes",
            "schema": {
              "type": "object",
              "description": "Worker Update",
              "properties": {
                "action": {
                  "$ref": "#/definitions/Worker"
                },
                "mask": {
                  "$ref": "#/definitions/UpdateMask"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated",
            "schema": {
              "$ref": "#/definitions/Worker"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "user_key": []
          }
        ]
      },
      "delete": {
        "summary": "Delete a worker",
        "description": "Deletes a registered action worker",
        "operationId": "delete-worker",
        "x-visible": true,
        "tags": [
          "Action Workers"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "teamname",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "workerID",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted",
            "schema": {
              "$ref": "#/definitions/Empty"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "user_key": []
          }
        ]
      }
    },
    "/teams/{teamname}/action-workers/{workerID}/tasks": {
      "get": {
        "summary": "List all tasks locked by a worker",
        "description": "Lists all tasks currently being executed by a specific worker. Supports\npaging and sorting.\n",
        "operationId": "get-tasks",
        "x-visible": true,
        "tags": [
          "Action Workers"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "teamname",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "workerID",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer"
          },
          {
            "name": "orderBy",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "description": "A page of acquired tasks",
              "properties": {
                "nextPageToken": {
                  "type": "string",
                  "description": "the token to use to retrieve the next page of results"
                },
                "tasks": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/PendingWorkerTask"
                  }
                }
              }
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "user_key": []
          }
        ]
      }
    },
    "/worker-controls": {
      "get": {
        "summary": "List worker controls",
        "description": "Lists all action worker controls. Supports paging and sorting.\n\nWorker controls are used to temporary block action execution for targeted workers, actions, tags, etc.\n",
        "operationId": "list-worker-controls",
        "x-visible": true,
        "tags": [
          "Action Worker Control"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer"
          },
          {
            "name": "orderBy",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "description": "A page of worker controls",
              "properties": {
                "nextPageToken": {
                  "type": "string",
                  "description": "the token to use to retrieve the next page of results"
                },
                "workers": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/WorkerControl"
                  }
                }
              }
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "admin_team_user_key": []
          }
        ]
      },
      "post": {
        "summary": "Create worker control",
        "description": "Worker Controls limit which tasks are eligible to be acquired by a worker.\nTo stop all worker execution, create a Worker Control with `stopAllExecution`\nset to `true`. Otherwise you can stop a specific `taskID`, `runID`, `rootRunID`,\n`workerID`, `actionID`, `teamName` or set of `tags`.\n",
        "operationId": "create-worker-control",
        "x-visible": true,
        "tags": [
          "Action Worker Control"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "worker",
            "in": "body",
            "description": "The worker to register",
            "schema": {
              "$ref": "#/definitions/Worker"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/WorkerControl"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "admin_team_user_key": []
          }
        ]
      },
      "delete": {
        "summary": "Delete worker controls",
        "description": "Delete all workers and allow action execution to proceed unrestricted\n",
        "operationId": "delete-worker-controls",
        "x-visible": true,
        "tags": [
          "Action Worker Control"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": "Deleted",
            "schema": {
              "$ref": "#/definitions/Empty"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "admin_team_user_key": []
          }
        ]
      }
    },
    "/worker-controls/{controlID}": {
      "get": {
        "summary": "Get worker control",
        "description": "Gets a worker control",
        "operationId": "get-worker-control",
        "x-visible": true,
        "tags": [
          "Action Worker Control"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "controlID",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WorkerControl"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "admin_team_user_key": []
          }
        ]
      },
      "patch": {
        "summary": "Update worker control",
        "description": "Updates a worker control.\n",
        "operationId": "update-worker-control",
        "x-visible": true,
        "tags": [
          "Actions"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "controlID",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "update",
            "in": "body",
            "description": "The updated worker control attributes",
            "schema": {
              "type": "object",
              "description": "Worker Control Update",
              "properties": {
                "action": {
                  "$ref": "#/definitions/WorkerControl"
                },
                "mask": {
                  "$ref": "#/definitions/UpdateMask"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated",
            "schema": {
              "$ref": "#/definitions/WorkerControl"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "admin_team_user_key": []
          }
        ]
      },
      "delete": {
        "summary": "Delete worker control",
        "description": "Deletes a worker control",
        "operationId": "delete-worker-control",
        "x-visible": true,
        "tags": [
          "Action Worker Control"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "controlID",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted",
            "schema": {
              "$ref": "#/definitions/Empty"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "admin_team_user_key": []
          }
        ]
      }
    },
    "/action-workers/{workerID}/acquire-task": {
      "post": {
        "summary": "Acquire a task",
        "description": "Acquires a lock on a single task for this worker to execute.\n`lockDurationSeconds` can be up to 300 (5 minutes). It defaults to 30 if not\nspecified. If `waitTimeMillis` is not specified, this request will return\nimmediately, either with a `\"status\": \"success\"` and a `\"task\"` in the body,\nor with a `\"status\": \"timeout\"` and a `null` `\"task\"` in the body. If `waitTimeMillis` is specified, the request will block up to the requested\nnumber of milliseconds waiting for a task to be ready to acquire.\n`waitTimeMillis` must be between `500` (0.5 seconds) and `60000` (1 minute).\n",
        "operationId": "acquire-worker-task",
        "x-visible": true,
        "tags": [
          "Action Worker Execution"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "workerID",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "AcquireTaskParams",
            "in": "body",
            "description": "Acquire Task Parameters",
            "schema": {
              "type": "object",
              "properties": {
                "lockDurationSeconds": {
                  "type": "integer",
                  "description": "The number of seconds to hold a lock on the acquired task",
                  "minimum": 5,
                  "maximum": 300,
                  "default": 30
                },
                "waitTimeMillis": {
                  "type": "integer",
                  "description": "The number of milliseconds to wait for a task to be ready to acquire.",
                  "minimum": 0,
                  "maximum": 60000,
                  "default": 0
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "description": "Acquired Task",
              "properties": {
                "status": {
                  "type": "string",
                  "enum": [
                    "timeout",
                    "success"
                  ]
                },
                "lockRequestID": {
                  "$ref": "schema/UUID/UUID.yaml"
                },
                "waitingTaskCount": {
                  "type": "integer",
                  "description": "The number of enqueued tasks remaining for this worker"
                },
                "task": {
                  "$ref": "#/definitions/PendingWorkerTask"
                }
              }
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "worker_key": []
          }
        ]
      }
    },
    "/action-workers/{workerID}/batch-acquire-tasks": {
      "post": {
        "summary": "Acquire a task",
        "description": "Acquires a lock on several tasks for this worker to execute.\n`lockDurationSeconds` and `waitTimeMillis` work just like they do when\n[acquiring a single task](#acquire-a-task-to-execute). The batch version of\nthis call takes an additional parameter `maxTaskCount`.\n\n`maxTaskCount` indicates the maximum number of tasks to acquire locks on.\n`maxTaskCount` must be specified and must be an integer between `1`\nand `100` inclusive.\n\n*Note:* The response body includes a `lockRequestID`, `count`,\n`waitingTaskCount` and `tasks` array. `count` may be greater than the\nlength of the `tasks` array, in which case the caller should page\nthrough the `/worers/{workerID}/tasks?lockRequestID={lockRequestID}`\nresults to get all locked tasks. `waitingTaskCount` is the number of\ntasks still waiting in the backlog for this worker after this batch\nof tasks.\n",
        "x-visible": true,
        "tags": [
          "Action Worker Execution"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "workerID",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "AcquireTasksParams",
            "in": "body",
            "description": "Acquire Tasks Parameters",
            "schema": {
              "type": "object",
              "properties": {
                "lockDurationSeconds": {
                  "type": "integer",
                  "description": "The number of seconds to hold a lock on the acquired task",
                  "minimum": 5,
                  "maximum": 300,
                  "default": 30
                },
                "waitTimeMillis": {
                  "type": "integer",
                  "description": "The number of milliseconds to wait for a task to be ready to acquire.",
                  "minimum": 0,
                  "maximum": 60000,
                  "default": 0
                },
                "maxTaskCount": {
                  "type": "integer",
                  "description": "The maximum number of tasks to acquire in this request",
                  "minimum": 1,
                  "maximum": 100
                }
              },
              "required": [
                "maxTaskCount"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "description": "Acquired Tasks",
              "properties": {
                "status": {
                  "type": "string",
                  "enum": [
                    "timeout",
                    "success"
                  ]
                },
                "lockRequestID": {
                  "$ref": "schema/UUID/UUID.yaml"
                },
                "count": {
                  "type": "integer",
                  "description": "The total number of tasks acquired. Note that this may be\ngreater than the number of tasks in the tasks array, in\nwhich case all acquried tasks can be acquired by paging\nthrough the\n`/action-workers/{workerID}/tasks?lockRequestID={lockRequestID}`\nresults.\n"
                },
                "waitingTaskCount": {
                  "type": "integer",
                  "description": "The number of enqueued tasks remaining for this worker in the\nbacklog\n"
                },
                "tasks": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/PendingWorkerTask"
                  }
                }
              }
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "worker_key": []
          }
        ],
        "operationId": "batch-acquire-tasks"
      }
    },
    "/action-workers/{workerID}/tasks": {
      "get": {
        "summary": "List all tasks locked by a worker",
        "description": "Lists all tasks currently being executed by a specific worker.\nUse the `?lockRequestID` query parameter to request only those\ntasks acquired in a specific batch-acquire-tasks request.\nSupports paging and sorting.\n",
        "operationId": "list-workers",
        "x-visible": true,
        "tags": [
          "Action Workers"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "workerID",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "lockRequestID",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer"
          },
          {
            "name": "orderBy",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "description": "A page of acquired tasks",
              "properties": {
                "nextPageToken": {
                  "type": "string",
                  "description": "the token to use to retrieve the next page of results"
                },
                "tasks": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/PendingWorkerTask"
                  }
                }
              }
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "worker_key": []
          }
        ]
      }
    },
    "/action-workers/{workerID}/tasks/{taskID}/update-task": {
      "post": {
        "summary": "Update a task",
        "description": "Update a task that is being processed. This can be used to update the status\nof a task, extend the lock duration and update output fields. By keeping the\ninitial `lockDurationSeconds` small and repeatedly calling this endpoint to\nextend the lock, this endpoint serves as a health check for long-running\nactions.\n\nThe request body may optionally contain a `progressStatus` field, a\n`progressPercent` field and a `lockDurationSeconds` field. The\n`progressStatus` field can be set to a description of the worker's progress\nin executing this task, for example `verifying results` or `performing OCR`.\nThe `progressPercent` field is an integer between `0` and `99` representing\nhow close to completion this task is. The `lockDurationSeconds` field can be\nset to extend the duration of the currently held lock on this task.\n\nAdditionally, the body may contain fields for each of the named output\nparameters of the action. For example, if you have an output field named\n`\"spreadsheet\"` of type `file`, you would add a `file` field to the request\nbody named `spreadsheet`. That would look like:\n\n```\n-----------------------------1234-boundary\nContent-Disposition: form-data; name=\"lockDurationSeconds\"\n\n30\n\n-----------------------------1234-boundary\nContent-Disposition: form-data; name=\"progressPercent\"\n\n80\n\n-----------------------------1234-boundary\nContent-Disposition: form-data; name=\"progressStatus\"\n\nverifying results\n\n-----------------------------1234-boundry\nContent-Disposition: form-data; name=\"spreadsheet\"; filename=\"result.csv\"\nContent-Type: text/csv\n\nColumn 1, Column 2, ...\n```\n",
        "operationId": "update-worker-task",
        "x-visible": true,
        "tags": [
          "Action Worker Execution"
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "workerID",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "taskID",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "progressPercent",
            "in": "formData",
            "type": "integer",
            "description": "The percentage of the work on this task that has been completed"
          },
          {
            "name": "progressStatus",
            "in": "formData",
            "type": "string",
            "description": "A description of how work on the task is progressing"
          },
          {
            "name": "lockDurationSeconds",
            "in": "formData",
            "type": "integer",
            "description": "The number of seconds to extend a lock on the acquired task"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "description": "Acquired Task",
              "properties": {
                "status": {
                  "type": "string",
                  "enum": [
                    "timeout",
                    "success"
                  ]
                },
                "lockRequestID": {
                  "$ref": "schema/UUID/UUID.yaml"
                },
                "task": {
                  "$ref": "#/definitions/PendingWorkerTask"
                }
              }
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "worker_key": []
          }
        ]
      }
    },
    "/action-workers/{workerID}/tasks/{taskID}/complete-task": {
      "post": {
        "summary": "Complete a task",
        "description": "Completes a task and sets the `output` fields of that task. Any action output\nthat is not included in the body and was not previously set with an\n[update task](#update-a-task) call will be set to `null`. Outputs that were\npreviously set can be overwritten by including them in the request body.\n\nThe body may contain fields for each of the named output parameters of the\naction. For example, if you have an output field named `\"spreadsheet\"` of\ntype `file` and a `string` field named `\"summary\"`, you would add a `file`\nfield to the request body named `spreadsheet` and a string field named\n`summary`. That would look like:\n\n```\n-----------------------------1234-boundary\nContent-Disposition: form-data; name=\"summary\"\n\nThis is some summary text\n\n-----------------------------1234-boundry\nContent-Disposition: form-data; name=\"spreadsheet\"; filename=\"result.csv\"\nContent-Type: text/csv\n\nColumn 1, Column 2, ...\n```\n",
        "operationId": "complete-worker-task",
        "x-visible": true,
        "tags": [
          "Action Worker Execution"
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "workerID",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "taskID",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "description": "Acquired Task",
              "properties": {
                "status": {
                  "type": "string",
                  "enum": [
                    "timeout",
                    "success"
                  ]
                },
                "lockRequestID": {
                  "$ref": "schema/UUID/UUID.yaml"
                },
                "task": {
                  "$ref": "#/definitions/PendingWorkerTask"
                }
              }
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "worker_key": []
          }
        ]
      }
    },
    "/action-workers/{workerID}/tasks/{taskID}/files/{fileID}/download": {
      "get": {
        "summary": "Download an input file",
        "description": "Download an input file from an acquired task. The input `value`\nwill contain the `fileID` that can be used with this endpoint.\n\nThe response will stream the file after setting the `Cache-Control`,\n`Content-Type`, `Content-Disposition`, `Content-Length` and `ETag`\nheaders.\n",
        "operationId": "get-worker-task-file",
        "x-visible": true,
        "tags": [
          "Action Worker Execution"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/octet-stream"
        ],
        "parameters": [
          {
            "name": "workerID",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "taskID",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "fileID",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
[...]
